<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects. If you
    modify this template, do not forget to change the overwrite settings in
    /Configuration/ExtensionBuilder/settings.yaml: Resources: Private:
    Templates: List.html: keep Otherwise your changes will be overwritten the
    next time you save the extension in the extension builder

    <f:section name="content">
        <style>
            .tags {
                display: flex;
                flex-wrap: wrap;
            }
            .tag {
                width: 150px;
                text-align: center;
                padding: 10px 20px;
                border-radius: 100px;
                background-color: #75a75a;
                margin: 0 10px;
            }
            .tag a {
                color: white;
            }
        </style>
        <h1>Tag</h1>

        <f:flashMessages />
        <div class="tags">
            <f:for each="{tags}" as="tag">
                <div class="tag">
                    <f:link.action action="show" arguments="{tag : tag}"
                        >{tag.title}</f:link.action
                    >
                </div>
            </f:for>
        </div>
    </f:section>
</html>
